.cntnr {
    display: grid;
    place-items: center;
    height: 753px;
    background-color: dimgrey;

}

.count {
    border: 4px solid white;
    width: 400px;
    height: 400px;
}

.input {
    margin-left: 73px;
    margin-top: 29px;

}

.ipt {
    border: 2px solid white;
    width: 305px;
    height: 105px;
    margin-left: 50px;
    margin-top: 130px;
}